@import "./base/base";
@import "./utils/variables";
@import "./utils/mixins";
@import "./layouts/footer";

.loading__page{
width: 100%;
height:2261px;
background-color: white;
position: absolute;
animation: loading 2.5s;
z-index: -1;
opacity: 0;
@include tablet-only{
    height: 2071px;
}
@include desktop-only{
    height: 1461px;
}
    &__text{
        position: sticky;
        top: 40%;
        margin: 0 auto;
        width: 100%;
        background:linear-gradient($Secondaire,$Primaire);
        background-clip:text;
        color: transparent;
        display: flex;
        justify-content: center;
        font-size: 50px;
        font-family: $Titres;
        @include center(column);
        > span{
            opacity: 1;
            animation:look 2s ease both;
            background-clip:text;
            width: 100%;
        }
        > .loading__container{
            height:10px;
            margin:10px auto;
            background-color:white;
            opacity:1;
            overflow:hidden;
            width:75%;
            margin:auto;
            border:solid;
            border-radius: 10px;
            border: solid black;
                & > .loading__bar{
                    width:100%;
                    height:100%;
                    transform: scale(0,1);
                    transform-origin: left center;
                    animation:bar ease-in-out 2s forwards ;
                    background:linear-gradient(#FF79DA,#9356DC);
                }
        }
    }
}

@keyframes bar{
    0%{transform: scaleX(0);opacity: 1;}
    30%{transform: scaleX(0.3);
        animation-timing-function: ease-out;
    }
    80%{transform: scaleX(0.7);
        animation-timing-function: cubic-bezier(.9,0,.1,1);}
    100%{ transform: scaleX(1);}
}

@keyframes look {
    0%{letter-spacing:1em;transform:translateZ(400px);opacity:0;color: $Primaire;}
    40%{opacity:.6}
    100%{transform:translateZ(0) rotateX(1turn);opacity:1;color: $Secondaire;}
}



@keyframes loading{
    0%{
        z-index: 2;
        opacity: 1;
    }
    99%{
        z-index: 2;
        opacity: 1;
    }
    100%{
        opacity: 0;
        z-index: -1;
    }
}

header{
    @include header(none);
}

main{
    width: 100%
}

.location{
    @include center(row);
    height: 65px;
    background-color: rgb(233, 233, 233);
    z-index: 0;
    &__logo{
        margin-right:15px;
        font-size: 20px;
    }
    &__text{
        font-size: 20px;
    }
}

.explore{
    @include center(column);
    padding: 30px;
    background-color: #f6f6f6;
    flex-wrap: wrap;
    margin: 0%;
        h1{
            font-size: 30px;
            margin: 0px;
        }
        p{
            margin: 20px 0px 20px;
            padding: 0%;
            font-size: 18px;
            font-weight:300;
        }
        &__btn{
            @include pinkbutton(215px);
            &:hover{
                @include hover;
            }
        }
}

.preparation{
    padding: 30px 15px;
    margin: 0%;
    &__title{
        font-size: 25px;
        margin: 0px 0px 30px;
    }
    &__container__buttons{
        margin: 0%;
        padding: 0% 10px;
        display: flex;
        flex-direction: column;
        gap:30px;
        @include tablet-desktop{
            flex-direction: row;
            justify-content: center;
        }
    }
    &__button{
        list-style-type: none;
        width: auto;
        height: 65px;
        background: white;
        border-radius: 10px;
        display: flex;
        align-items: center;
        border: none;
        box-shadow:  rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -2px 0px inset;
        border-radius: 1rem;;
        font-weight: bold;
        transform: scale(1);
        transition: 500ms ease 0ms;
        @include tablet-desktop{
            width: 33%;
        }
        &:hover{
            @include hover;
            background-color: #f6f6f6;
            & > .preparation__button__logo{
                color: #9356DC;
            }
        }
        &__number{
            position: relative;
            color: white;
            background-color: $Primaire;
            padding: 3px 8px;
            height: 20px;
            border-radius: 500px;
            transform: translateX(-50%);
        }
        &__logo{
            color: gray;
            margin-right: 15px;
            @include tablet-desktop{
                margin-right: 20px;
            }
        }
    }
}

.restaurants{
    background-color: #f6f6f6;
    padding: 30px 20px;
    &__title{
       margin-bottom: 30px; 
    }
    &__all__cards{
        display: flex;
        flex-direction: column;
        gap: 30px;
        height: 100%;
        width: 100%;
        padding: 0% 0px 10px;
        justify-content: center;
        @include desktop-only{
            flex-flow: row wrap;
            justify-content: center;
        }
        }
    & .card{
        height: 275px;
        width: 100%;
        box-shadow:  0 2px 5px rgb(0 0 0 / 40%);
        text-decoration: none;
        color:initial;
        border-radius: 15px;
        margin: 0%;
        padding: 0px;
        box-sizing: content-box; 
        border: none;  
        overflow: hidden;
        box-sizing: content-box;
        transform: scale(1);
        transition: 500ms ease 0ms;
        @include desktop-only{
            width: 48%;
        }
        &:hover{
            @include hover;
        }
        &__new{
            position:absolute;
            background: #99e2d0;
            color:#1b6150;
            padding: 8px 15px;
            top:20px;
            right: 20px;
            font-weight: 500;
            border-radius: 3px;
        }
        &__photo{
            width: 100%;
            height: 200px;
            margin: 0%;
            padding: 0px;
            border: none;
            & img{
                width: 100%;
                height: 100%;
                object-fit:cover;
            }
         }
        &__descriptions{
            display: flex;
            background: white;
            margin: 0px;
            padding: 10px 20px;
            width: auto;
            height: 50px;
            justify-content: space-between;
            border-radius: 15px;
            &__text{
            margin: 0px;
            padding: 0px;
            width: 100%;
                & h3{
                margin: 0%;
                padding: 0%;
                }
                & p{
                margin: 5px 0px 0;
                padding: 0%;
                }
            }
        }
        &__heart{
            align-self: center;
            text-align: center;
            &--hidden{
                font-size: 30px;
                position: relative;
                color: black;
                transition: opacity 600ms;
                transform-origin: bottom center;
                z-index: 1;
                background: white;
                &:hover {
                    opacity: 0;
                }
            }
            &--color{
                position:absolute;
                font-size: 30px;
                background:linear-gradient($Secondaire,$Primaire);
                background-clip:text;
                color: transparent;
        }
        }
    }
}
