@import "./base/base";
@import "./utils/variables";
@import "./utils/mixins";
@import "./layouts/footer";

@keyframes rotate-center{
    0%{transform:rotate(0)}
    100%{transform:rotate(360deg)}
    }

@keyframes move {
    0%{
        opacity: 0;transform: translateY(10px)
    }
    100%{
        opacity: 1;transform: translateY(0px) scale(1);
    }
}

header{
    @include header(inline);
}

main{
    background: #eaeaea;
}

.container__photo{
    height: 300px;
    width: 100%;
    position: relative;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.menu{
    position: relative;
    top: -30px;
    z-index: 1;
    background-color: white;
    border-radius: 30px 30px 0 0;
    display: flex;
    flex-direction: column;  
    padding: 40px 20px 20px; 
    background: #eaeaea;
    &__title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0%;
        margin: 0 0 30px;
        h1{
            margin: 0%;
            padding: 0%;
            font-family: $Titres;
        }
    }
    &__heart{
            align-self: center;
            text-align: center;
            cursor: pointer;
            &--hidden{
                font-size: 30px;
                position: relative;
                color: black;
                transition: opacity 600ms;
                transform-origin: bottom center;
                z-index: 1;
                background: #eaeaea;
                &:hover {
                    opacity: 0;
                }
            }
            &--color{
                position:absolute;
                font-size: 30px;
                background:linear-gradient($Secondaire,$Primaire);
                background-clip:text;
                color: transparent;
            }
        
    } 

}

.all__menu__container{
@include desktop-only{
    display: flex;
    justify-content: center;
    gap: 20px;
}
}

.menu__display{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0%;
    margin:0 0 50px;
    @include desktop-only{
        width: 33%;
    }
    &__title{
        text-transform:uppercase;
        font-size: 20px;
        border-bottom: 3px solid $Tertiaire;
        width: 50px;
        margin-bottom: 10px;
    }
    &__container{
        height:65px;
        width:100%;
        cursor:pointer;
        display:flex;
        border-radius:10px;
        background: white;
        box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -2px 0px inset;
        padding:0px;
        margin: 0%;
        opacity: 0;
        overflow: hidden;
        &:hover > .menu__display__valid{
            max-width: 100px;
            .menu__display__valid__icon{
                animation:rotate-center .5s ease-out forwards;
            }
        }
    }
    &__text{
        height:100%;
        width:100%;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
        margin: 15px 0px 5px 15px;
        align-items: center;
        span:first-child{
            font-weight: bold;
        }
      }   
    &__valid{
        max-width:0px;
        height:100%;
        transition: max-width 0.5s;
        background:$Tertiaire;
        position: relative;
        display: flex;
        align-items: center;
        box-shadow: rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -2px 0px inset;
        &__bloc{
            padding: 0%;
            margin: 15px;
        }
        &__icon{
            font-size: 20px;
            font-weight: 900;
            color:$Tertiaire;
            background-color: white;
            border-radius: 50%;
            align-self: center;
            padding: 10px;
            margin: 0px;
        }
    }
    &__price{
        font-weight: bold;
        margin: 0px 16px 12px;
        padding: 0%;
        position: relative;
        display: flex;
        align-items: flex-end;
    }
}

  
.btn--pink{
    @include pinkbutton(130px);
    margin: auto;
            &:hover{
                @include hover;
            }
}


.starter{
    &__1{
       animation: move 1s ease 0ms forwards;
    }
    &__2{
        animation: move 1.1s ease 100ms forwards;
    }
    &__3{
        animation: move 1.2s ease 200ms forwards;
    }
    &__4{
        animation: move 1.3s ease  300ms forwards;
    }
}

.main__course{
    &__1{
        animation: move 1s ease 500ms forwards;
     }
     &__2{
         animation: move 1.1s ease 600ms forwards;
     }
     &__3{
         animation: move 1.2s ease 700ms forwards;
     }
}

.dessert{
    &__1{
        animation: move 1s ease 900ms forwards;
     }
     &__2{
         animation: move 1.1s ease 1000ms forwards;
     }
     &__3{
         animation: move 1.2s ease 1100ms forwards;
     }
}