@mixin center($flex) {
    display: flex;
    flex-direction: $flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@mixin hover {
    transform: scale(1.03);
    transition: all 500ms ease 0s ;
    box-shadow: (0px 10px 10px rgb(0 0 0 /35%)) ;
}
// boutton rose
@mixin pinkbutton($width) {
            width: $width;
            height: 50px;
            color: white;
            border-radius: 100px;
            @include center(row);
            font-weight:bold;
            font-size: 16px;
            cursor: pointer;
            background:linear-gradient($Secondaire,$Primaire);
            border: none;
            box-shadow: 0px 5px 10px rgb(0 0 0 /60%);
            transform: scale(1);
            transition: 500ms ease 0ms;
}

@mixin header($positionindexbtn) {
    height:88px ;
    width: 100%;
    box-shadow: 1px 1px 15px gray;
    @include center(row);
    box-shadow: 0px 0px 10px gray;
    z-index: 1;
    position: relative;
    .index__btn{
        position: relative;
        left: 10%;
        color: black;
        font-size: 25px;
        display: $positionindexbtn;
    }
    img{
        height:35px;
        width: auto;
        margin: auto;
        object-fit: cover;
    }
}
 

// BREAKPOINT TABLET & DESKTOP
@mixin tablet-desktop {
    @media screen and (min-width: map-get($breakpoints, tablet-min)) {
      @content;
    }
  }
  
  // BREAKPOINT TABLET
  @mixin tablet-only {
    @media (min-width: map-get($breakpoints, tablet-min)) and (max-width: map-get($breakpoints, tablet-max)) {
      @content;
    }
  }
  
  // BREAKPOINT DESKTOP
  @mixin desktop-only {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
      @content;
    }
  }